/* GENERAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  color: rgb(77, 77, 77);
  font-family: Poppins;
  font-weight: 400;
  letter-spacing: 0%;
  text-align: left;
}
a {
  transition: all 0.5s;
}
a:link,
a:visited {
  color: rgb(77, 77, 77);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 159.1%;
  letter-spacing: 5%;
  text-align: center;
  text-decoration: none;
}
a:hover,
a:active {
  color: rgba(77, 77, 77, 0.5);
  text-decoration: underline;
}
.container {
  width: 100%;
  max-width: 1305px;
  padding: 0 20px;
  margin: 0 auto;
}

/* HEADER */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
.menu-mob {
  display: none;
}
nav {
  margin: 0 auto;
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 30px;
}
.nav-link {
  list-style: none;
}
.nav-icons {
  display: flex;
  align-items: center;
  gap: 24px;
}

/* HERO */
.hero {
  width: 100%;
  display: flex;
  align-items: start;
}

.hero-crumbs-mob {
  display: none;
}
.hero-img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 24px 76px 24px 63px;
  gap: 53px;
}
.hero-crumbs {
  position: relative;
}
.hero-crumbs-arrow {
  position: absolute;
  width: 14px;
  left: -20px;
  top: -1px;
}
.hero-crumbs-text {
  color: rgb(77, 77, 77);
  font-family: Poppins;
  font-size: 11px;
  font-weight: 300;
  line-height: 159.1%;
  letter-spacing: 5%;
  text-align: left;
}
.hero-details {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.hero-title {
  color: rgb(77, 77, 77);
  font-family: Poppins;
  font-size: 28px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 8px;
}
.hero-subtitle {
  width: 100%;
  color: rgb(77, 77, 77);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 300;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
  border-bottom: 1px solid rgb(159, 147, 139);
  padding-bottom: 20px;
  margin-bottom: 13px;
}
.hero-desc {
  color: rgb(77, 77, 77);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 300;
  line-height: 159.1%;
  letter-spacing: 5%;
  text-align: left;
  margin-bottom: 34px;
}

.hero-benefits {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px 54px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(159, 147, 139);
}
.hero-benefit {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
}
.hero-benefit-img img {
  width: 51.94px;
  height: 51.94px;
}
.hero-benefit-text {
  color: rgb(148, 130, 130);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: left;
}

/* CART */
.cart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
}

.cart-options {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 22px;
}
.cart-option {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 18px;
}
.cart-option-img {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.cart-option-outer-circle {
  width: 22px;
  height: 22px;
}
.cart-option-inner-circle {
  position: absolute;
  width: 16px;
  height: 16px;
  display: none;
  transition: all 0.3s;
}
.cart-option-selected .cart-option-inner-circle {
  display: flex;
}
.cart-option-text {
  color: rgba(77, 77, 77, 0.5);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 300;
  line-height: 159.1%;
  letter-spacing: 5%;
  text-align: left;
  transition: all 0.3s;
}
.cart-option-selected .cart-option-text {
  color: rgb(77, 77, 77);
}

.cart-selector {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 19px;
  width: 100%;
}
.cart-quantity-selector {
  display: flex;
  align-items: center;
  border: 1px solid rgb(0, 0, 0);
}
.cart-quantity-selector div {
  padding: 11px 15px;
  color: rgb(0, 0, 0);
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 159.1%;
  letter-spacing: 5%;
  text-align: center;
}

.cart-add-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
  background: rgb(191, 171, 171);
  cursor: pointer;

  color: rgb(77, 77, 77);
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 159.1%;
  letter-spacing: 5%;
  text-align: center;
}

/* CAROUSEL */
.carousel {
  padding: 32px 72px;
}
.carousel-title {
  color: rgb(77, 77, 77);
  font-family: Lato;
  font-size: 28px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 13px;
}
.carousel-slide {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.carousel-slide-image {
  display: flex;
  align-items: center;
}
.carousel-slide-image img {
  max-width: 363px;
  margin-bottom: 16px;
}
.carousel-slide-title {
  color: rgb(77, 77, 77);
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 3px;
}
.carousel-slide-desc {
  color: rgb(77, 77, 77);
  font-family: Lato;
  font-size: 16px;
  font-weight: 300;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.carousel-slide-price {
  color: rgb(77, 77, 77);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 159.1%;
  letter-spacing: 5%;
  text-align: left;
}
.slick-prev:before,
.slick-next:before {
  color: black !important;
  filter: invert(1);
}

@media screen and (max-width: 768px) {
  .hero {
    flex-direction: column;
  }
  .hero-img img {
    max-width: 768px;
  }
}

@media screen and (max-width: 425px) {
  .menu-mob {
    display: flex;
    align-items: center;
    gap: 21px;
  }
  nav,
  .nav-icon-search {
    display: none;
  }
  .logo {
    margin: 0 auto;
  }

  .hero-img img {
    max-width: 425px;
  }
  .hero-text {
    padding: 32px 24px;
  }
  .hero-crumbs {
    display: none;
  }
  .hero-crumbs-mob {
    width: 100%;
    display: flex;
    gap: 4px;
    padding: 16px 28px;
  }
  .hero-crumbs-arrow {
    position: initial;
  }
  .hero-title {
    color: rgb(77, 77, 77);
    font-family: Poppins;
    font-size: 28px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 16px;
  }
  .hero-subtitle {
    color: rgb(77, 77, 77);
    font-family: Poppins;
    font-size: 14px;
    font-weight: 300;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
    padding-bottom: 24px;
    margin-bottom: 16px;
  }
  .hero-desc {
    color: rgb(77, 77, 77);
    font-family: Poppins;
    font-size: 14px;
    font-weight: 300;
    line-height: 159.1%;
    letter-spacing: 5%;
    text-align: left;
  }
  .hero-benefits {
    gap: 34px 11px;
  }
  .hero-benefit-text {
    color: rgb(159, 147, 139);
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: left;
  }

  .carousel {
    padding: 32px 21px;
  }
  .carousel-title {
    color: rgb(77, 77, 77);
    font-family: Lato;
    font-size: 24px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: center;
  }
  .carousel-slide-image img {
    width: 100%;
  }
  .carousel-slide-title {
    color: rgb(77, 77, 77);
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
  }
  .carousel-slide-desc {
    color: rgb(77, 77, 77);
    font-family: Lato;
    font-size: 16px;
    font-weight: 300;
    line-height: 160%;
    letter-spacing: 0%;
    text-align: left;
    text-transform: uppercase;
  }
  .carousel-slide-price {
    color: rgb(77, 77, 77);
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 159.1%;
    letter-spacing: 5%;
    text-align: left;
  }
}
